#
processed_data/

#ignore some data file in TC data
scripts/preprocess/TC_event_generation/Input/*
scripts/preprocess/TC_event_generation/Output/*
scripts/preprocess/TC_event_generation/data/*.DS_store

# Ignore config file
config.json
config_local.yml

# Workflow
.snakemake
hazard_layers__with_transforms.csv

# Text editor
.vscode

# Python
__pycache__
*.pyc
.ipynb_checkpoints

# Data
*.osm.pbf
*.shp
*.shx
*.dbf
*.cpg
*.prj
*.xml
*.gpkg*
*.zip
*.qgz
